.AppBar {
    width: 375px;
    height: 92px;
    top: 0px;
    left: 0px;
    background-color: #3c3a39;
}
 .statusbars {
    width: 375px;
    height: 44px;
    left: calc(50% - 375px/2);
    top: 0px;
}
.time {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 21px;
    top: 13px;
}
.group4 {
    position: absolute;
    width: 66.66px;
    height: 11.34px;
    left: 293.67px;
    top: 17.33px;
} 