@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete Round&display=swap');

body {
  margin: 0;
}

.app {
  width: 100%;
  min-width: 375px;
}

.innerapp {
  width: 87.2%;
  padding: 10px;
}

.AppBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #3c3a39;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 101px;
  padding: 10px  12px;
}

a {
  text-decoration: none;
}

nav {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40px;
  border-radius: 8px;
  padding: 8px;
}

.imgmenu {
  display: unset;
}

#name {
  width: 77px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.headline {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c1a19;
  background-image: url(./pic/Illustration.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  padding: 80px 0;
}

h1 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

img {
  max-width: 100%;
}

.supportingtext {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.description {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 53.3%;
  padding: 15px  7px;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  gap: 45px;
  position: relative;
}

.title {
  padding: 0;
  gap: 24px;
}

.works > p {
  margin: 0;
}

#workstitle {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #ff6b00;
  border: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

button:enabled {
  background-color: #f55800;
  color: #fff;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

#posttitle {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 16px 0;
}

#supporting {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

ul {
  padding: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

li {
  list-style: none;
}

.taging {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.tag {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.frame {
  display: grid;
  grid-gap: 24px;
}

.cards {
  display: flex;
  flex-direction: column;
  background-image: url(./pic/backcolor.png);
}

.buttn {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6b00;
}

.cardtitle {
  padding: 16px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 24px 0;
}

.cardsupporting {
  padding: 0 16px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.cataging {
  background: rgba(255, 255, 255, 0.24);
  border: none;
}

.catag {
  color: #fff;
}

.catags {
  padding: 1px 16px;
}

.aboutme {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1a19;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 175px;
  background-image: url(./pic/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.primary {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 10px 0;
}

.secondary {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

h2 {
  margin: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  color: #fff;
}

.skill {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 60px;
}

.skill li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
}

.contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.contactdescription {
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 44px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
}

#form {
  margin: 46px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.formfonts {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid  #dbd8d7;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.formfonts:focus {
  outline: none;
}

.names {
  width: 100%;
}

#comment {
  width: 100%;
  background-color: #fbf8f7;
}

.basemedia {
  padding: 0;
}

.media {
  display: flex;
  justify-content: center;
}

.hr2 {
  background: #0d151e;
  width: 134px;
}

.line {
  width: 100%;
  color: #dfe1e6;
}

@media screen and (min-width: 768px) {
  .imgmenu {
    display: none;
  }

  .menu {
    width: 40%;
  }

  .navul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .navul > li {
    width: 20%;
    color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .logo {
    width: 35%;
  }

  .headline {
    background-image: url(./pic/Illustration-header@2x.png);
    background-size: 23%;
    align-items: flex-start;
    background-position-y: top;
  }

  .primarycontent {
    width: 80%;
    display: flex;
    flex-direction: row;
  }

  .content {
    order: 2;
  }

  .socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #rline {
    flex-grow: 1;
    width: 1px;
    background-color: #212121;
  }

  nav {
    display: unset;
    width: 100%;
  }

  .frameimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .imgholder {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post {
    width: 50%;
  }

  #posttitle {
    margin: 0;
  }

  .frame {
    grid-template-columns: 31% 31% 31%;
  }

  .about {
    background-image: url(./pic/illustration-about\ me@2x.png);
    background-size: 45%;
    align-items: flex-start;
    margin-left: 40px;
    padding: 60px 0;
  }

  .me {
    width: 55%;
  }

  .hr1 {
    margin-top: 40px;
  }

  .li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 80px 0;
  }

  #form {
    width: 53%;
  }

  .contactdescription {
    text-align: start;
    width: 42%;
  }

  .basemedia {
    flex-direction: row;
  }

  .card2 {
    background-image: url(./pic/backcol.png);
  }

  .card3 {
    background-image: url(./pic/backcolo.png);
  }

  .subline {
    width: 0;
    height: 0;
  }

  .media {
    height: 40px;
  }

  .contactform {
    padding: 0;
  }
}
